/* Basic editor styles */
.tiptap {
    outline: none;

    >*+* {
        margin-top: 0.75em;
    }

    ul,
    ol {
        padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #555;
        color: #FFF;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;

        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0D0D0D, 0.1);
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
    }
}

.fixed-menu {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;

    button:not(.el-button) {
        margin: 0 1px;
        padding: 8px 10px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #f0f0f0;
        }

        &.is-active {
            background-color: #f0f0f0;
        }
    }

    .el-button {
        margin: 0 1px;
        padding: 8px 10px;
        border-radius: 5px;
        background-color: #fff;
    }
}

.editor-container {
    display: flex;
    margin-top: 1vh;
    height: 82vh;

    .docs {
        width: 16vw;
        background-color: #fff;
        border-right: 1px solid #f0f0f0;
        border-radius: 10px 0 0 0;

        .doc {
            height: 7vh;
            margin: 6px;
            color: #666;
            background-color: #f0f0f0;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    .content {
        flex: 1;

        .editor-content {
            height: 74vh;
            padding: 2rem;
            background-color: #fff;
            overflow-y: auto;
        }
    }

    .catalog {
        width: 18vw;
        padding-left: 40px;
        background-color: #fff;
        border-radius: 10px 0 0 0;
    }

}

.word-count {
    font-size: 18px;
    color: #888;
    background-color: #fff;
    padding-bottom: 8px;
    padding-left: 2vw;
    border-radius: 0 0 10px 10px;
}

.toc-item {
    cursor: pointer;
    padding: 10px 0;
    color: #666;
}

.toc-item:hover {
    color: #000;
}

.toc-item[type="header1"] {
    font-size: 20px;
    font-weight: bold;
}

.toc-item[type="header2"] {
    font-size: 16px;
    padding-left: 15px;
    font-weight: bold;
}

.toc-item[type="header3"] {
    font-size: 14px;
    padding-left: 30px;
}