/* Basic editor styles */
.tiptap {
    outline: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 1.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    /* List styles */
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    /* Task list specific styles */
    ul[data-type="taskList"] {
        list-style: none;
        margin-left: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;

            >label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            >div {
                flex: 1 1 auto;
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        ul[data-type="taskList"] {
            margin: 0;
        }
    }

    code {
        background-color: rgba(88, 5, 255, .05);
        border-radius: 0.4rem;
        color: #2E2B29;
        font-size: 0.85rem;
        padding: 0.25em 0.3em;
    }

    pre {
        background: #2E2B29;
        border-radius: 0.5rem;
        color: #fff;
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }

        /* Code styling */
        .hljs-comment,
        .hljs-quote {
            color: #616161;
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-name,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: #f98181;
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
            color: #fbbc88;
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
            color: #b9f18d;
        }

        .hljs-title,
        .hljs-section {
            color: #faf594;
        }

        .hljs-keyword,
        .hljs-selector-tag {
            color: #70cff8;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: 700;
        }
    }

    blockquote {
        border-left: 3px solid rgba(61, 37, 20, .12);
        ;
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
    }

    p.is-editor-empty:first-child::before {
        color: #555;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    mark {
        background-color: #FAF594;
        border-radius: 0.4rem;
        box-decoration-break: clone;
        padding: 0.1rem 0.3rem;
    }

    a {
        color: #6A00F5;
        cursor: pointer;

        &:hover {
            color: #5800CC;
        }
    }

    img {
        display: block;
        height: auto;
        margin: 1.5rem 0;
        max-width: 100%;

        &.ProseMirror-selectednode {
            outline: 3px solid #6A00F5;
        }
    }

    /* Table-specific styling */
    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid rgba(61, 37, 20, .12);
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            >* {
                margin-bottom: 0;
            }
        }

        th {
            background-color: rgba(61, 37, 20, .05);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: rgba(61, 37, 20, .08);
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: #6A00F5;
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    .resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }
}

.fixed-menu {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;

    button:not(.el-button) {
        margin: 0 1px;
        padding: 8px 10px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #f0f0f0;
        }

        &.is-active {
            background-color: #f0f0f0;
        }
    }

    .el-button {
        margin: 0 1px;
        padding: 8px 10px;
        border-radius: 5px;
        background-color: #fff;
    }
}

.editor-container {
    display: flex;
    margin-top: 1vh;
    height: 82vh;

    .docs {
        width: 16vw;
        background-color: #fff;
        border-right: 1px solid #f0f0f0;
        border-radius: 10px 0 0 0;

        .doc {
            height: 7vh;
            margin: 6px;
            color: #666;
            background-color: #f0f0f0;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    .content {
        flex: 1;

        .editor-content {
            height: 74vh;
            padding: 2rem;
            background-color: #fff;
            overflow-y: auto;
        }
    }

    .catalog {
        width: 18vw;
        padding-left: 40px;
        background-color: #fff;
        border-radius: 10px 0 0 0;
    }

}

.word-count {
    font-size: 18px;
    color: #888;
    background-color: #fff;
    padding-bottom: 8px;
    padding-left: 2vw;
    border-radius: 0 0 10px 10px;
}

.outline-item {
    cursor: pointer;
    padding: 10px 0;
    color: #666;
}

.outline-item:hover {
    color: #000;
}

.outline-item[level="1"] {
    font-size: 20px;
    font-weight: bold;
}

.outline-item[level="2"] {
    font-size: 16px;
    padding-left: 15px;
    font-weight: bold;
}

.outline-item[level="3"] {
    font-size: 14px;
    padding-left: 30px;
}

.border_black {
    border: 1px solid rgba(0, 0, 0, 0.6) !important;
}

.color-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .color-item {
        width: 20px;
        height: 20px;
        margin: 4px;
        border-radius: 10px;
        cursor: pointer;
    }
}