html,
body,
#app {
  padding: 0;
  margin: 0;
}

.load-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name {
  font-size: 5vh;
  font-weight: bold;
  background: linear-gradient(135deg, #47caff, #bd34fe);
  background-clip: text;
  color: transparent;
}

.loading {
  width: 3vh;
  height: 3vh;
  border: 3px solid #6c63ff;
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
}

.load_title {
  color: #6c63ff;
  font-size: 2vh;
  width: 100%;
  text-align: center;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}